@model PriceTracker.Models.Product

@{
    ViewData["Title"] = "New Product";
}

<h4>New Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-group">
                <label asp-for="ProductName" class="control-label col-form-label-sm"></label>
                <input asp-for="ProductName" class="form-control form-control-sm" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLink" class="control-label col-form-label-sm"></label>
                <input asp-for="ProductLink" class="form-control form-control-sm" />
                <span asp-validation-for="ProductLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success btn-sm" /> &emsp;
                <a asp-action="Index" class="btn btn-link btn-sm">Back to products</a>
            </div>
        </form>
    </div>
</div>